ALGORITHM=Pagerank
EXE_THREADS=20
IO_THREADS=4
NSHARDS=4
INPUT=input/pagerank
RESULT=result/pagerank
NODES=1000000
TERMTHRESH=0.01
PORTION=1
MENBUDGET_MB=48
DISABLE-MODTIME-CHECK=0
TERMCHECKINTERVAL=1
